<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product list</title>
  </head>
  <body>
    <h1>Mahsulotlar</h1>
    <a href="{% url 'product_create' %}">Yangi mahsulot qo'shish</a>
    <ul>
      {% for product in products %}
      <li>
        {{ product.name }} - {{ product.price }} UZS
        <a href="{% url 'product_update' product.pk %}">Tahrirlash</a>
        <a href="{% url 'product_delete' product.pk %}">O'chirish</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
